
@{
    ViewBag.Title = "Gracias";
}

<h2>Mensaje</h2>
<div class="row">
    <div class="col-md-8">
        <h3>Felicidades haz enviado tu solicitud con exito!!!</h3>
        <br />
        <img src="~/Content/Images/success.jpg" alt="Solicitud Enviada" />
        <p>
            Ahora espera nuestra respuesta en un tiempo maximo de 24 horas para que formes parte de
            CareAlz y comienzes a disfrutar de sus beneficios.
        </p>
        <br />
        @Html.ActionLink("Ir al Inicio", "Home", new { }, new { @class = "btn btn-success" })

  </div>
</div>


