
@{
    ViewBag.Title = "Mensaje";
}

<div class="row">
    <div class="col-md-8">
        <h3>Te haz registrado con exito!!!</h3>
        <br />
        <img src="~/Content/Images/success.jpg" alt="Solicitud Aceptada" />
        <p>
            Ahora ya formas parte de CareAlz inicia sesion para poder disfrutar de los beneficios..
        </p>
        <br />
        @Html.ActionLink("Ingresar", "Login", "Account", new { }, new { @class = "btn btn-success" })

    </div>
</div>