@model ICareAlz.Models.TestView
@{
    ViewBag.Title = "Hacer Test";

    int count = 1, countR = 0;


}

<h2>Contesta este simple test</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">



        </div>
    </div>
</div>
