@{
    ViewBag.Title = "Hacer Test";

    int count = 1, countR = 0;


}

<h2>Contesta este simple test</h2>

<div class="container">
    <div class="row">
        <br />
        <div class="col-md-8">

            <div class="form-group">
                <h4>1) Últimamente me olvido de citas, nombres o eventos.</h4>
                No <input checked="checked" id="Gender" name="Gender" type="radio" value="0" />
                A Veces <input checked="checked" id="Gender" name="Gender" type="radio" value="3" />
                Si <input checked="checked" id="Gender" name="Gender" type="radio" value="6" />
            
            </div>
            <br />

            <div class="form-group">
                <h4>
                    2) Desde hace poco me resulta difícil realizar determinadas tareas cotidianas como, por ejemplo,
                    hacerme un café en la cafetera habitual. Y todo sin que tenga limitaciones físicas.
                </h4>

                No <input checked="checked" id="Gender1" name="Gender1" type="radio" value="0" />
                A Veces <input checked="checked" id="Gender1" name="Gender1" type="radio" value="3" />
                Con frecuencia <input checked="checked" id="Gender1" name="Gender1" type="radio" value="6" />
            </div>
            <br />

            <div class="form-group">
                <h4>
                    3) Últimamente me cuesta encontrar las palabras para expresarme de forma entendible.
                </h4>

                No <input checked="checked" id="Gender1" name="Gender1" type="radio" value="0" />
                A Veces <input checked="checked" id="Gender1" name="Gender1" type="radio" value="3" />
                Con frecuencia <input checked="checked" id="Gender1" name="Gender1" type="radio" value="6" />
            </div>

            <br />

            <div class="form-group">
                <h4>
                    4) Últimamente me siento perdido en mi entorno habitual.
                </h4>

                No <input checked="checked" id="Gender1" name="Gender1" type="radio" value="0" />
                Si <input checked="checked" id="Gender1" name="Gender1" type="radio" value="6" />

            </div>
            <br />

            <div class="form-group">
                <h4>
                    5) Últimamente no encuentro las cosas que he cambiado de sitio.
                </h4>

                No <input checked="checked" id="Gender1" name="Gender1" type="radio" value="0" />
                Si <input checked="checked" id="Gender1" name="Gender1" type="radio" value="6" />
                Con frecuencia <input checked="checked" id="Gender1" name="Gender1" type="radio" value="6" />

            </div>
            <br />

            <div class="form-group">
                <h4>
                    6) Últimamente me he distanciado de muchos contactos sociales.
                </h4>

                No <input checked="checked" id="Gender1" name="Gender1" type="radio" value="0" />
                Si <input checked="checked" id="Gender1" name="Gender1" type="radio" value="6" />

            </div>
            <br />

            <div class="form-group">
                <h4>
                    7) Desde hace algún tiempo he dejado de hacer planes y no tengo ganas de nada.
                </h4>

                No <input checked="checked" id="Gender1" name="Gender1" type="radio" value="0" />
                Si <input checked="checked" id="Gender1" name="Gender1" type="radio" value="6" />

            </div>
            <br />

            <div class="form-group">
                <h4>
                    8) Últimamente tengo cambios de humor repentinos sin motivo alguno.
                </h4>

                No <input checked="checked" id="Gender1" name="Gender1" type="radio" value="0" />
                Si <input checked="checked" id="Gender1" name="Gender1" type="radio" value="6" />

            </div>

            <input type="submit" value="Enviar" class="btn btn-primary" />


        </div>
    </div>
</div>
